@import "colors.scss";

h3.title {
  color: red;
}

div.admin-sec {
  background-color: white;
  h3 {
    color: $bright;
  }
  span {
    font-weight: 400;
    color: darkgrey;
  }
}

#admin-back-link {
  position: absolute;
  left: 20px;
  top: 0px;
}



