@import "colors.scss";

.card .card-action a {
  color: lightblue;
}

.card-action.white.thumbs {
  padding: 10px;
}

.card-content {
  margin-top: 20px;
  height: inherit !important;
}

.card-content p {
  color: #B2827E !important; 
  color: $medium-light-grey !important; 
  font-weight: 300;
}

h5 {
  color: $medium-grey;
  font-weight: 400;
  font-size: 16px;
  line-height: 1em;
  margin-bottom: 0px;
}

.card-title {
  /*color: #B8ADB2 !important;*/
  color: $bright !important;
  color: $greenish-grey-darker !important;
  font-weight: 500 !important;
}

.card .card-action a {
  color: black;
}


.card-action.white.thumbs {
  padding: 10px;
}

.card-action .fa {
  //color: $greyish-green:;
  color: $greyish-green;
}

.card-action .fa:hover {
  color: #516272;
}
