@import "colors.scss";

$button-green: #69CB48;
$button-hover-green: #45E251;
$mustard: #F0EE30;
$dull-mustard: #CDD16D;
$msg-icon-brown: #ADB240;
$cool-red: #CB3B35;

.mycard {
  min-height: 407px;
  background-color: white;
  padding-left: 5%;
  padding-bottom: 100px;
  padding-right: 10%;
  position: relative !important;
  &.with-user {
    margin-bottom: 0px;
  }
}

.msg-icon {
  padding-top: 2px !important;
  background-color: $medium-grey; 
  height: 60px;
  border-left: 3px solid white;
  border-right: 6px solid white;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  &:hover {
    cursor: pointer;
    background-color: $button-green;
    .mdi-content-mail {
      color: white;
    }
  }
}

#t-up {
  position: relative;
  padding-top: 2px;
  background-color: $medium-grey;
  height: 60px;
  border-left: 6px solid white;
  border-right: 3px solid white;
  border-top: 6px solid white;
  border-bottom: 6px solid white;
  &:hover {
    cursor: pointer;
    background-color: $button-green;
    color: white;
    .mdi-action-thumb-up {
      color: white;
   // -webkit-text-stroke-width: 1px;
   // -webkit-text-stroke-color: orange;
   // text-stroke-width: 1px;
   // text-stroke-color: orange;
    }
  }
}

.mdi-action-thumb-up {
  font-size: 30px;
  color: $dark-grey;
}

.mdi-content-mail {
  color: $dark-grey;
  font-size: 30px;
}


span.upvotes {
  position: relative;
  bottom: 4px;
  font-size: 20px;
}


div.add-button {
  background-color: white;
  color: $button-green;
  border: 1px solid $button-green;
  height: 25px;
  width: 60px; 
  margin-top: 35px;
  border-radius: 8px;
  transition: background-color 0.3s; 
  -webkit-transition: background-color 0.3s; 
  &:hover {
    background-color: $button-hover-green;
    color: white;
  }
  div {
    margin-left: 15.2px;
    margin-top: 1px;
  }
}

p.content {
  color: #B2827E;
  color: $dark-grey;
  font-weight: 400;
}

h5.topic {
  display: inline-block;
  color: $dark-grey;
  font-weight: 500;
  line-height: 1em;
  margin-bottom: 0px;
  margin-top: 20px;
  //border-left: 5px solid $button-green;
  padding: 5px 3px 5px 0px;
  &.about {
    //border-left: 5px solid #CFBBBB;
    margin-top: 80px;
    margin-bottom: 10px;
  }
}

span.topic.about {
  position: relative;
  top: -2px;
  font-size: 16px;
  font-weight: 300;
}

h1.card-title {
  color: $dark-grey !important;
  font-weight: 600 !important;
}
input[type=text].about {
  border-bottom: 1px solid #DCDADA;
}

input[type=text]:focus:not([readonly]).about {
    border-bottom: 1px solid $medium-dark-grey;
    box-shadow: 0 1px 0 0 $medium-dark-grey; 
}


/* modal stuff */
/******************************************************/
section#message-modal {
  overflow: visible !important;
}

textarea#textarea1 {
  background-color: #EFEFEF;
  &:focus {
    background-color: white;
  }
}

textarea.materialize-textarea:focus:not([readonly]) {
  border-bottom: 1px solid $bright !important;
}

textarea.materialize-textarea:focus:not([readonly]) + label {
  color: $bright !important;
}

i.mdi-content-send {
  position: relative;
  top: 2px;
  margin-left: 5px;
  font-size: 20px;
  
}

.placeholder {
  min-height: 380px;
  p {
    position: absolute;
    top: 290px;
  }
}
/******************************************************/


.chip {
  display: inline-block;
  height: 42px;
  font-size: 18px;
  font-weight: 400;
  color: rgba(0,0,0,.6);
  color: #65717E;
  line-height: 41px;
  padding: 0 12px;
  border-radius: 18px;
  background-color: #ABB0BC;
  margin-bottom: 5px;
  &.with-user {
    line-height: 33px;
  }
  img {
    float: left;
    margin: 0 8px 0 -12px;
    height: 32px;
    width: 32px;
    border-radius: 50%;
  }

  i.material-icons {
    cursor: pointer;
    float: right;
    font-size: 16px;
    line-height: 32px;
    padding-left: 8px;
  }

  i.mdi-navigation-close {
    position: relative;
    top: 5px;
    font-size: 24px;
    margin-left: 10px;
    color: #EBECF3;
    &:hover {
      cursor: pointer;
      color: #FF3828;
    }
  }

}



/* Tooltip */
/******************************************************/
.tooltip-outer-container {
  position: absolute;
  bottom: 70px;
  width: 90%;
  background-color: crimson;
}

text {
    display: inline-block;
}

.outer {
  display: inline-block;
  position: absolute;
  //height: 40px;
  //top: 50px;
  width: 100%;
  //background-color: #F9F9F9;
}

i.mdi-content-add-circle {
  display: inline-block;
  top: 100px;
  font-size: 25px;
  float: right;
}

.tooltip {
  margin-left: 15px;
  width: 90%;
  //background: blanchedalmond;
  //border: 1px solid #CAD5E0;
  padding: 4px;
  position: absolute;
  min-height: 100px;
  top: -55px;
  right: 46px;
  z-index: 100 !important;
  form {
    width: 90% !important;
    position: static !important;
    float: right !important;
    background-color: #F9F9F9;
    //box-shadow: -2px 2px 3px 0px rgba(0,0,0,0.12);
    box-shadow: -5px 3px 10px -3px rgba(0, 0, 0, 0.12);
    z-index: 100 !important;
  }
}

$break-small: 610px;
$break-large: 611px;

.profile-pic {
  float: left;
  width: 250px;
  @media screen and (max-width: $break-small) {
    width: 100px;
    float: none;
  }
  @media screen and (min-width: $break-large) {
    float: right;
  }
}

.add-form:before {
  content: '';
  display: block;
  position: absolute;
  top: 60px;
  //left: 98%;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #F9F9F9;
  border-style: solid;
  border-width: 10px;
  filter: drop-shadow(-2px 2px 2px rgba(0,0,0,0.2));
  -webkit-filter: drop-shadow(-2px 2px 2px  rgba(0,0,0,0.2));
  z-index: -3;
  @media screen and (max-width: $break-small) {
    left: 98%;
  }
  @media screen and (min-width: $break-large) {
    left: 99%;
  }
}

.add-btn {
  float: right;
  background-color: #DE7872;
  box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.2);
}


ul.dummy-users {
  //margin-left: 25px;
  background-color: #FFFBFA;
  width: 270px;
  padding-top: 10px;
  padding-bottom: 38px;
  padding-left: 7px;
  line-height: 1.3em;
  margin-top: 30px;
  span {
    height: 100%;
    padding-right: 5px;
    margin-right: 3px;
    //color: #939393;
    color: #C98B8B;
    font-weight: 300;
  }
  li.dummy-user {
    width: 100%;
    padding-left: 10px;
    margin-bottom: 2px;
    //background-color: $light-grey;
    color: $medium-dark-grey;
    font-weight: 200;
    h5 { 
      color: #939191;
      font-size: 18px;
      line-height: 0.5em;
      margin-top: 35px;
      margin-bottom: 15px;
    }
  }
}



/******************************************************/

/* background triangle for border */
/*.add-form:before {
  content: '';
  display: block;
  position: absolute;
  top: 60px;
  left: 99%;
  width: 0;
  height: 0;
  border-color: transparent transparent transparent #000;
  border-style: solid;
  border-width: 11px;
}*/

/* no select */
/*.add-add-form {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: 1px solid grey;
}*/
