/* dullish colors */     
$bright               : #5DA0E5;
$greenish-grey        : #7E98B2;
$greenish-grey-darker : #516272;
$greyish-green        : #677F7F;
$greyish-green-light  : #CAD9D8;
$brown                : #8C5B4E;
$brownish-maroon      : #B2827E;
$brownish-maroon-light: #E4A7A2;
$background-grey      : #DAEBEA;

/* bright colors */
$bright-green         : #72E98B;

/* bluish colors */
$medium-blue          : #487295;
$greyish-blue-light   : #A0B8CC;
$greyish-blue-med     : #64737F;
$ocean-blue           : #639CCC;
$greyish-blue-dark    : #3C454C;
