@import "colors.scss";

$turquoise: #9AC8E5;
$pinkish: #EF97F2;
$purpleish: #AD9DFC;

footer.page-footer {
  margin-top: 200px;
  //background-color: $turquoise;
  background: rgba(208,223,232,1);
  background: -moz-linear-gradient(top, rgba(208,223,232,1) 0%, rgba(154,200,229,1) 100%);
  background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(208,223,232,1)), color-stop(100%, rgba(154,200,229,1)));
  background: -webkit-linear-gradient(top, rgba(208,223,232,1) 0%, rgba(154,200,229,1) 100%);
  background: -o-linear-gradient(top, rgba(208,223,232,1) 0%, rgba(154,200,229,1) 100%);
  background: -ms-linear-gradient(top, rgba(208,223,232,1) 0%, rgba(154,200,229,1) 100%);
  background: linear-gradient(to bottom, rgba(208,223,232,1) 0%, rgba(154,200,229,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d0dfe8', endColorstr='#9ac8e5', GradientType=0 );
  h3,h5 {
    font-weight: 400;
    letter-spacing: 5px;
    //font-size: 35px;
    color:white;
    //color: #6052A2;
    color: #CDC6F0;
  }
  h3 {
    margin-bottom: 5px;
    margin-top: 70px;
  }
  h5 {
    margin-top: 0px; 
    font-weight: 200;
  }
}

.spacer {
  height: 50px;
}

.footer-copyright {
  padding-top: 10px;
  height: 250px !important;
  //background-color: #6052A2 !important;

background: rgba(123,110,184,1);
background: -moz-linear-gradient(top, rgba(123,110,184,1) 0%, rgba(96,82,162,1) 100%);
background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(123,110,184,1)), color-stop(100%, rgba(96,82,162,1)));
background: -webkit-linear-gradient(top, rgba(123,110,184,1) 0%, rgba(96,82,162,1) 100%);
background: -o-linear-gradient(top, rgba(123,110,184,1) 0%, rgba(96,82,162,1) 100%);
background: -ms-linear-gradient(top, rgba(123,110,184,1) 0%, rgba(96,82,162,1) 100%);
background: linear-gradient(to bottom, rgba(123,110,184,1) 0%, rgba(96,82,162,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7b6eb8', endColorstr='#6052a2', GradientType=0 );

  h6 {
    color: $dark-grey;
    font-weight: 300;
  }
  img#mticon {
     margin-bottom: 10px;
     //margin-right: 7px;
     //margin-left: 7px;
   }
  img#meicon {
     margin-bottom: 10px;
     margin-left: 7px;
   }
  img#mgicon {
     margin-bottom: 10px;
     margin-left: -7px;
     //margin-left: 2px;
   }
}

.very-bottom {
  height: 65px !important;
  //background-color: rgba(51,51,51, .2) !important;
  //background-color: $pinkish !important;
  background-color: $icon-grey !important;
  background: none;
}

div.bl-icon-hoz {
  margin-left: 30px;
  margin-bottom: 2px;
  display: inline-block;
}

div.bl-icon-vert {
  margin-bottom: 20px;
  display: inline-block;
}

#hsclicons {
  margin-top: 10px;
  height: 65px;
  line-height: 1.2em;
}

path#block {
  fill: #6E8EA4; /*darker*/
  fill: #89A9BF; /*lighter*/
}

path#ce {
  fill: #89A9BF;
  stroke: none;
}

svg {
  &:hover {
    cursor: pointer;
    path#block {
      fill: $light-grey; 
      fill: #6E8EA4; 
    }
  }
  &.ce {
    &:hover {
      path {
        fill: #6E8EA4 !important;
      }
    }
  }
}

.fa-github {
  display: inline-block;
  font-size: 115px;
  position: relative;
  bottom: 4px;
  color: #89A9BF;
  &:hover {
    color: #6E8EA4;
    cursor: pointer;
  }
}
