@import "colors.scss";

footer.page-footer {
  margin-top: 100px;
  background-color: $greenish-grey-darker;
  h1 {
    font-weight: 200;
    color: white;
  }
}

.footer-copyright {
  padding-top: 20px;
  height: 175px !important;
  h6 {
    color: black;
  }
  img#mticon {
     margin-bottom: 10px;
   }
  img#meicon {
     margin-bottom: 10px;
   }
  img#mgicon {
     margin-bottom: 10px;
     margin-left: 2px;
   }
}

.very-bottom {
  height: 65px !important;
  background-color: rgba(51,51,51, .2) !important;
}

#hsclicons {
  margin-top: 40px;
  height: 65px;
  line-height: 1.2em;
}

div.bl-icon-hoz {
  margin-left: 30px;
  margin-bottom: 2px;
  display: inline-block;
}

path {
  stroke: $icon-grey;
}

path#ce {
  fill: $icon-grey;
  stroke: none;
}

svg {
  &:hover {
    cursor: pointer;
    path {
      stroke: white; 
    }
  }
  &.ce {
    &:hover {
      path#ce {
        fill: white;
      }
    }
  }
}

.fa-github {
  display: inline-block;
  font-size: 63px;
  position: relative;
  bottom: 4px;
  color: $icon-grey;
  &:hover {
    color: white;
    cursor: pointer;
  }
}
