@import "colors.scss";

$turquoise: #9AC8E5;
$pinkish: #EF97F2;
$purpleish: #AD9DFC;

footer.page-footer {
  margin-top: 200px;
  background-color: $turquoise;
  h3,h5 {
    font-weight: 400;
    letter-spacing: 5px;
    //font-size: 35px;
    color:white;
    //color: #6052A2;
    color: #CDC6F0;
  }
  h3 {
    margin-bottom: 5px;
    margin-top: 70px;
  }
  h5 {
    margin-top: 0px; 
    font-weight: 200;
  }
}

.spacer {
  height: 50px;
}

.footer-copyright {
  padding-top: 10px;
  height: 250px !important;
  background-color: #6052A2 !important;
  h6 {
    color: $dark-grey;
    font-weight: 300;
  }
  img#mticon {
     margin-bottom: 10px;
     //margin-right: 7px;
     //margin-left: 7px;
   }
  img#meicon {
     margin-bottom: 10px;
     margin-left: 7px;
   }
  img#mgicon {
     margin-bottom: 10px;
     margin-left: -7px;
     //margin-left: 2px;
   }
}

.very-bottom {
  height: 65px !important;
  //background-color: rgba(51,51,51, .2) !important;
  //background-color: $pinkish !important;
  background-color: $icon-grey !important;
}

div.bl-icon-hoz {
  margin-left: 30px;
  margin-bottom: 2px;
  display: inline-block;
}

div.bl-icon-vert {
  margin-bottom: 2px;
  display: inline-block;
}

#hsclicons {
  margin-top: 10px;
  height: 65px;
  line-height: 1.2em;
}

path {
  stroke: #6E8EA4; /*darker*/
}

path#ce {
  fill: #6E8EA4;
  stroke: none;
}

svg {
  &:hover {
    cursor: pointer;
    path {
      stroke: $light-grey; 
    }
  }
  &.ce {
    &:hover {
      path#ce {
        fill: $light-grey;
      }
    }
  }
}

.fa-github {
  display: inline-block;
  font-size: 115px;
  position: relative;
  bottom: 4px;
  color: #6E8EA4;
  &:hover {
    color: $light-grey;
    cursor: pointer;
  }
}
