@import "colors.scss";


.at-form, .about {
  margin-top: 20px;
  background-color: white;
}

.at-form.col {
  margin-bottom: 120px;
}

.at-title {
  h3 {
    text-align: center;
    margin-bottom: 2rem;
  }
}

.at-pwd-form {
   .at-btn {
     margin-top: 10px;
   }
}

.navbar-fixed nav {
  background-color: white;
}

.links {
  margin-left: auto;
  margin-right: auto;
}

li.nav-link {
  background-color: $bright-green;
  -webkit-transition: background-color 0.3;
  transition: background-color 0.3s;
}

li.nav-link:hover {
  background-color: $brownish-maroon;
}


.row.thumbs {
  margin-bottom: 0px;
}


.fa.fa-bars {
  font-size: 15px;
  margin-left: 15px;
  color: black;
}

.fa.fa-long-arrow-right {
  font-size: 25px;
  margin-left: 8px;
  color: $greyish-green;
}

.fa-thumbs {
  margin-right: 10px;
}

#t-dwn a, #t-up a {
  margin-right: 5px;
}

#t-dwn a {
  margin-left: 5px;
}

#cmnt, #env {
  margin-right: 0px;
}

#env {
  padding-left: 0px;
}

#cmnt {
  padding-left: 0px;
  margin-left: 10px;
}

#loading {
  height: 300px;
}


nav.banner {
  height: 222px;
}

nav .banner-name {
  font-size: 45px;
  color: pink;
  margin-top: 20px;
  font-weight: 200;
}

.mdi-navigation-menu:before {
  font-size: 30px;
}

//#__blaze-root {
//  display: flex;
//  min-height: 100vh;
//  flex-direction: column;
//}


body {
  background-color: $background-grey;
  height: 100%;
}
html {
  height: 100%;
}

main {
  //flex: 1 0 auto;
  //min-height: 100vh;
	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
}


.row.thumbs {
  margin-bottom: 0px;
}

.fa-thumbs {
  margin-right: 10px;
}

#t-dwn, #t-up {
  color: $greyish-green;
}

.input-field input[type=password]:focus,
             input[type=email]:focus 
 {
   border-bottom: 1px solid #000 !important;
   box-shadow: 0 1px 0 0 #000 !important;
}
