@import "colors.scss";


.at-form, .about {
  margin-top: 20px;
  background-color: white;
}

.navbar-fixed nav {
  background-color: white;
}

.links {
  margin-left: auto;
  margin-right: auto;
}

li.nav-link {
  background-color: $bright-green;
  -webkit-transition: background-color 0.3;
  transition: background-color 0.3s;
}

li.nav-link:hover {
  background-color: $brownish-maroon;
}


.row.thumbs {
  margin-bottom: 0px;
}


.fa.fa-bars {
  font-size: 15px;
  margin-left: 15px;
  color: $greyish-green;
}

.fa.fa-long-arrow-right {
  font-size: 25px;
  margin-left: 8px;
  color: $greyish-green;
}

.fa-thumbs {
  margin-right: 10px;
}


/* grays
 * dark: 383536
 * mediumdark: 787174
 * medium: B8ADB2
 * mediumlight: DED1D7
 * light: F7E9F0
 */

#t-dwn, #t-up {
  margin-right: 5px;
  /*width: 85px !important;*/
}

#t-dwn a, #t-up a {
  margin-right: 5px;
}

#t-dwn a {
  margin-left: 5px;
}

#cmnt, #env {
  margin-right: 0px;
}

#env {
  padding-left: 0px;
}

#cmnt {
  padding-left: 0px;
  margin-left: 10px;
}


nav.banner {
  height: 222px;
}

nav .banner-name {
  font-size: 45px;
  color: pink;
  margin-top: 20px;
  font-weight: 200;
}

.mdi-navigation-menu:before {
  font-size: 30px;
}

#__blaze-root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

body {
    //background: lightgrey;
  background-color: $background-grey;
  z-index:-5;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

#main {
  flex: 1 0 auto;
}
    

#grid {
    background-size: 5px 5px;    
    background-image:repeating-linear-gradient(0deg, #fff, #fff 1px, transparent 1px, transparent 40px),repeating-linear-gradient(-90deg, #fff, #fff 1px, transparent 1px, transparent 40px);
    height:100%;
    min-height: 100%;
    width:100%;
    opacity:0.14;
    position:absolute;
    top:0;
    left:0;
    z-index:-4;
}

// body {
//  background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent);
//  height:100%;
//  background-size:25px 25px;
//  /*height: 350px;*/
//  background-color: $greyish-green-light;
//  width: 100%;
//}

.test-banner {
  background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent);
  height:100%;
  min-height: 100%;
  background-size:25px 25px;
  height: 350px;
  background-color: #5DA0E5;
  width: 100%;
}

.row.thumbs {
  margin-bottom: 0px;
}


.fa-thumbs {
  margin-right: 10px;
}


section#message-modal {
  height: 100px;
  overflow: hidden;
}


#t-dwn, #t-up {
  color: $greyish-green;
}


