$blue-grey            : #5B6E7F;
$blue-grey-light      : #89A5C2;
$blue-grey-dark       : #3C4854;
$blue-grey-text       : #2C3948;
$maroon               : #B2827E;
$maroon-light         : #E4A7A2;
$maroon-dark          : #654A48;
$maroon-text          : #583E3C;
$green                : #76A57B;
$green-light          : #A3E5AB;
$green-dark           : #48654C;
$green-text           : #38583D;
$yellow               : #B2B262; 
$yellow-light         : #E4E57E;
$yellow-dark          : #656538;
$yellow-text          : #565627;


div.ov-container {
  font-family: Helvetica Neue;
  width: 100%;
  padding-bottom: 300px;
  padding-top: 300px;
  text-align: center;
  &#education {
    background: $blue-grey;
  }
  &#tools {
    background: $green;
  }
  &#skills {
    background: $maroon;
  }
  &#experience {
    background: $yellow; 
  }
}

h3.ov {
  font-family: Gravitas One, Helvetica;
  font-size: 80px;
  margin-bottom: 85px;
  &#tools{ 
    text-shadow: 0px 1px 1px $green-light,
                 0px -2px 2px black;
    color: $green-dark;
  }
  &#education {
    text-shadow: 0px 1px 1px $blue-grey-light,
                 0px -2px 2px black;
    color: $blue-grey-dark;
  }
  &#skills {
    text-shadow: 0px 1px 1px $maroon-light,
                 0px -2px 2px black;
    color: $maroon-dark;
  }
  &#experience {
    text-shadow: 0px 1px 1px $yellow-light,
                 0px -2px 2px black;
    color: $yellow-dark 
  }
}

p.overview {
  margin-top: 18px;
  margin-bottom: 50px;
  font-size: 33px;
  &.tools {
    color: $green-text;
  }
  &.skills {
    color: $maroon-text;
  }
  &.experience {
    color: $yellow-text;
  }
  &.education {
    color: $blue-grey-text;
  }
}
