$blue-grey            : #5B6E7F;
$blue-grey-light      : #89A5C2;
$blue-grey-dark       : #3C4854;
$blue-grey-text       : #283038;
$maroon               : #B2827E;
$maroon-light         : #E4A7A2;
$maroon-dark          : #654A48;
$maroon-text          : #4C3837;
$green                : #76A57B;
$green-light          : #A3E5AB;
$green-dark           : #48654C;
$green-text           : #314534;
$yellow               : #B2B262; 
$yellow-light         : #E4E57E;
$yellow-dark          : #656538;
$yellow-text          : #454526;


div.ov-container {
  font-family: Helvetica Neue;
  width: 100%;
  padding-bottom: 300px;
  padding-top: 300px;
}

h3.ov {
  font-family: Gravitas One, Helvetica;
  font-size: 80px;
  margin-bottom: 0px;
  margin-left: 0.55em;
}

p.overview {
  margin-top: 18px;
  margin-left: 5em;
  margin-bottom: 0px;
  font-size: 33px;
}

/* education section*/
div#education {
  background: $blue-grey;
}

h3#education {
  text-shadow: 0px 1px 1px $blue-grey-light,
               0px -2px 2px black;
  color: $blue-grey-dark;
}

p#education {
  color: $blue-grey-text;
  span {
    padding-left: 20px;
    font-size: 26px; 
  }
}

/* tools section*/
h3#tools {
  text-shadow: 0px 1px 1px $green-light,
               0px -2px 2px black;
  color: $green-dark;
}

div#tools {
  background: $green;
}

p#tools {
  color: $green-text;
}

/* skills section*/
h3#skills {
  text-shadow: 0px 1px 1px $maroon-light,
               0px -2px 2px black;
  color: $maroon-dark;
}

div#skills {
  background: $maroon;
}

p#skills {
  color: $maroon-text;
}

/* experience section*/
h3#experience {
  text-shadow: 0px 1px 1px $yellow-light,
               0px -2px 2px black;
  color: $yellow-dark 
}


div#experience {
  background: $yellow; 
}

p#experience {
  color: $yellow-text;
}



