@import "colors.scss";

li.nav-side {
  letter-spacing: .05em;
  font-weight: 300;
  background-color: white;
  border-bottom: 1px solid #ececec;
  a {
    color: #696969; 
    margin-left: 28px;
  }
  &:hover {
    background-color: $light-grey;
  }
  i {
    color: $dark-grey;
    font-size: 20px;
  }
  span {
    position: relative;
    top: -3px;
    margin-left: 10px;
    color: $dark-grey;
  }
}
