.side-nav a {
  color: white; 
}

li#crswrk-side {
  font-weight: 300;
  background-color: white;
  border-bottom: 1px solid #ececec;
  a {
    color: #696969; 
  }
}

li#edu-side {
  font-weight: 300;
  background-color: white;
  border-bottom: 1px solid #ececec;
  a {
    color: #696969;
  }
}

li#edu-side a span {
  margin-right: 10px;
  margin-left: 23px;
}

li#crswrk-side a span {
  margin-right: 14px;
  margin-left: 27px;
}

.fa-graduation-cap {
  //padding-left: 30px !important;
  //color: $greenish-grey;
  color: #d3d3d3;
  font-size: 20px;
  transform: translate(0px, 2px);
}

.fa-book {
  //margin-left: 20px;
  //color: $brownish-maroon;
  font-size: 20px;
  color: #d3d3d3;
  transform: translate(0px, 2px);
}
