@import "colors.scss";

$active-link-bb-width : 3px;

li .top-link-container {
  height: inherit;
  box-sizing: border-box;
  width: 150px;
  transition: border-bottom 100ms ease 0s;
}

li#crswrk-top {
  font-weight: 300;
  height: 64px;
  box-sizing: border-box;
  background-color: white;
  transition: border-bottom 100ms ease 0s;
  a {
    color: #696969; 
  }
}

li#crswrk-top.active-true {
  .top-link-container {
     border-bottom: $active-link-bb-width solid $ocean-blue;
  }
}

li#crswrk-top.active-false {
  &:hover {
    .top-link-container {
       border-bottom: $active-link-bb-width solid $ocean-blue;
    }
  }
}

li#edu-top {
  font-weight: 300;
  height: 64px;
  box-sizing: border-box;
  background-color: white;
  transition: border-bottom 100ms ease 0s;
  a {
    color: #696969;
  }
}


li#edu-top.active-false {
  &:hover {
    .top-link-container {
       border-bottom: $active-link-bb-width solid $medium-blue;
    }
  }
}

li#edu-top.active-true {
  .top-link-container {
     border-bottom: $active-link-bb-width solid $medium-blue;
  }
}

nav.banner {
  height: 222px;
}

nav .banner-name {
  font-size: 45px;
  color: pink;
  margin-top: 20px;
  font-weight: 200;
}

.mdi-navigation-menu:before {
  font-size: 30px;
}
