@import "colors.scss";

$active-link-bb-width : 3px;

li .top-link-container {
  height: inherit;
  box-sizing: border-box;
  width: 150px;
  transition: border-bottom 100ms ease 0s;
}

li#crswrk-top {
  font-weight: 300;
  height: 64px;
  box-sizing: border-box;
  background-color: white;
  transition: border-bottom 100ms ease 0s;
  a {
    color: #696969; 
    &:hover {
      font-weight: 400;
    }
  }
  
}

li#crswrk-top.active-true {
  .top-link-container {
     //border-bottom: $active-link-bb-width solid $ocean-blue;
     border-bottom: $active-link-bb-width solid $greenish-grey-darker;
  }
  a {
    font-weight: 500;
    //color: $ocean-blue;
    color: $greenish-grey-darker;
  }
}

li#crswrk-top.active-false {
  &:hover {
    .top-link-container {
       //border-bottom: $active-link-bb-width solid $ocean-blue;
       border-bottom: $active-link-bb-width solid $greenish-grey-darker;
    }
  }
}

li#edu-top {
  font-weight: 300;
  height: 64px;
  box-sizing: border-box;
  background-color: white;
  transition: border-bottom 100ms ease 0s;
  a {
    color: #696969;
    &:hover {
      font-weight: 400;
    }
  }
}


li#edu-top.active-false {
  &:hover {
    .top-link-container {
      //border-bottom: $active-link-bb-width solid $medium-blue;
      border-bottom: $active-link-bb-width solid $greenish-grey-darker;
    }
  }
}

li#edu-top.active-true {
  .top-link-container {
     //border-bottom: $active-link-bb-width solid $medium-blue;
     border-bottom: $active-link-bb-width solid $greenish-grey-darker;
  }
  a {
    font-weight: 500;
    //color: $medium-blue;
    color: $greenish-grey-darker;
  }
}

.navbar-fixed.top {
  height: 200px;
}

nav.top {
  height: 200px;
  background-color: $greenish-grey-darker !important;
  z-index: 1002;
}

nav.bottom {
  box-shadow: 0px 10px 5px -8px rgba(0, 0, 0, 0.16), 0px 10px 10px -8px rgba(0, 0, 0, 0.12)
}

nav.banner {
  height: 222px;
}

nav .banner-name {
  font-size: 45px;
  color: pink;
  margin-top: 20px;
  font-weight: 200;
}

.fa-github {
  display: inline-block;
  font-size: 25px;
  position: relative;
  bottom: 2px;
  color: $greyish-green;
}

.mdi-navigation-menu:before {
  font-size: 30px;
}

div.bl-icon {
  display: inline-block;
}

#sclicons {
  position: absolute;
  left: 47%;
  bottom: 0px;
  height: 55px;
}
