/* dullish colors */     
$bright               : #5DA0E5;
$greenish-grey        : #7E98B2;
$greenish-grey-darker : #516272;
$greyish-green        : #677F7F;
$greyish-green-light  : #CAD9D8;
$brown                : #8C5B4E;
$brownish-maroon      : #B2827E;
$brownish-maroon-light: #E4A7A2;

/* bright colors */
$bright-green         : #72E98B;


.navbar-fixed nav {
  background-color: white;
}

.side-nav a {
  color: white; 
}

li#crswrk-li {
  //background-color: #7E98B2;
  background-color: white;
  a {
    color: $greyish-green; 
  }
}

li#edu-li {
  //background-color: #677F7F;
  background-color: white;
  border-bottom: 1px solid lightgrey;
  a {
    color: $greyish-green;
  }
}


nav.banner {
  height: 222px;
}

nav .banner-name {
  font-size: 45px;
  color: pink;
  margin-top: 20px;
  font-weight: 200;
}

.mdi-navigation-menu:before {
  font-size: 30px;
}

.row.thumbs {
  margin-bottom: 0px;
}

.card .card-action a {
  color: lightblue;
}


.card-action.white.thumbs {
  padding: 10px;
}

.fa.fa-bars {
  font-size: 15px;
  margin-left: 15px;
  color: $greyish-green;
}

.fa.fa-long-arrow-right {
  font-size: 25px;
  margin-left: 8px;
  color: $greyish-green;
}

.fa-thumbs {
  margin-right: 10px;
}


/* grays
 * dark: 383536
 * mediumdark: 787174
 * medium: B8ADB2
 * mediumlight: DED1D7
 * light: F7E9F0
 */

#t-dwn, #t-up {
  margin-right: 5px;
  /*width: 85px !important;*/
}

#t-dwn a, #t-up a {
  margin-right: 5px;
}

#t-dwn a {
  margin-left: 5px;
}

#cmnt, #env {
  margin-right: 0px;
}

#env {
  padding-left: 0px;
}

#cmnt {
  padding-left: 0px;
  margin-left: 10px;
}

.card-content p {
  color: #B2827E !important; 
}
.card-title {
  /*color: #B8ADB2 !important;*/
  color: $bright !important;
}

nav.banner {
  height: 222px;
}

nav .banner-name {
  font-size: 45px;
  color: pink;
  margin-top: 20px;
  font-weight: 200;
}

.mdi-navigation-menu:before {
  font-size: 30px;
}


 body {
  background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent);
  height:100%;
  min-height: 100%;
  background-size:25px 25px;
  /*height: 350px;*/
  background-color: $greyish-green-light;
  width: 100%;
}

.test-banner {
  background-image:       linear-gradient(0deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent), linear-gradient(90deg, transparent 24%, rgba(255, 255, 255, .15) 25%, rgba(255, 255, 255, .15) 26%, transparent 27%, transparent 74%, rgba(255, 255, 255, .15) 75%, rgba(255, 255, 255, .15) 76%, transparent 77%, transparent);
  height:100%;
  min-height: 100%;
  background-size:25px 25px;
  height: 350px;
  background-color: #5DA0E5;
  width: 100%;
}

.row.thumbs {
  margin-bottom: 0px;
}

.card .card-action a {
  color: black;
}


.card-action.white.thumbs {
  padding: 10px;
}

.fa-thumbs {
  margin-right: 10px;
}
a span {
  margin-right: 20px;
}
.fa-graduation-cap {
  //padding-left: 30px !important;

  color: $greenish-grey;
}

.fa-book {
  //margin-left: 20px;
  color: $brownish-maroon;
}

section#message-modal {
  height: 100px;
  overflow: hidden;
}

.card-action .fa {
  //color: $greyish-green:;
  color: $greyish-green;
}

.card-action .fa:hover {
  color: #516272;
}

#t-dwn, #t-up {
  color: $greyish-green;
}

