<template name="about">
<div class="container" id="main">
<div class="row">
<div class="about col l12 m12 s12 z-depth-1">
<h1>About</h1>
<h5>this is a test2</h5>
<p>this is a test3</p>
<p>this is a test4</p>
<p>this is a test3</p>
<p>this is a test3</p>
<p>this is a test3</p>
<p>this is a test3</p>
<p>this is a test3</p>
<p>this is a test3</p>
<p>this is a test4</p>
<p>this is a test4</p>
<p>this is a test4</p>
<p>this is a test4</p>
<p>this is a test4</p>
<p>this is a test4</p>
</div>
</div>
</div>
</template>
