<template name="adminSections">
 {{#each sections}}
   {{#each subsections}}
    {{> adminSection}}
   {{/each}}
 {{/each}}
</template>

<template name="adminSection">
<div class="container">
<div class="row">
<div class="admin-sec col l12 m12 s12 z-depth-1">
  <h3 class="center-align">{{heading}}</h3>
  {{> messageList messages=messages}}
</div>
</div>
</div>
</template>

<template name="messageSection">
</template>

<template name="messageList">
 {{#each messages}}
  <div><span>{{ date }} | {{ author_id }} : </span>{{ text }}</div>
 {{/each}}
</template>
