
<template name="sections">
    <main>
    {{#each sections}}
      <div class="container" id="main">
      <div class="row">
      {{#if Template.subscriptionsReady}}
        {{> subsection subsections=subsections section_id=_id}}
      {{else}}
        {{> placeholder }}
      {{/if}}
      </div>
      </div>
    {{/each}}
    </main>
</template>



<template name="subsection">
  {{#each subsections }}
    {{> cardContent 
        title=heading 
        heading_id=heading_id 
        upvotes=upvotes 
        downvotes=downvotes
        sindex=sindex
        modifiable=modifiable
        }}
        
  {{/each}}
</template>



<template name="cardContent">
{{#if isAbout }}
      <div class="row mycard">
      <div class="col l12 m12 s12 z-depth-0">
      <h1 class="card-title">{{title}}</h1>
      {{#if modifiable }}

        <ul>
        {{#each topics heading_id }}
          <li>
            {{> aboutChip}}
          </li>
        {{/each}}
        </ul>

      {{else}}

        <p>
        Welcome! This interactive résumé is built on the 
        <a href="https://www.meteor.com">Meteor</a> platform and is best
        viewed in a modern web browser.
        
        </p>
        <h5 class="topic about">Registration</h5>
        <p>
        User registration is not mandatory to view the behavior of the site.
        Two accounts are available by default.
        </p>

        <ul class="dummy-users">
          <li class="dummy-user">
            <h5 class="user-type">Admin</h5>
            <span class="field">email: </span>admin@this.domain
            <br>
            <span class="field">password: </span>admin123
          </li>
          <li class="dummy-user">
            <h5 class="user-type">General</h5>
            <span class="field">email: </span>general@this.domain  
            <br>
            <span class="field">password: </span>general123
          </li>
        </ul>
        <p>
        The user account system is functional, but a verifiable email address
        is not required (email verification is disabled).
        </p>
        <h5 class="topic about">Authorization</h5>
        <p>
        There are three levels of access: non-registered,
        registered with general access, and registered with admin access. 
        Non-registered users have read-only access to non-admin sections.
        Users with general access 
        can send messages and add or remove chips. Users with admin
        access have the additonal privilege of being able to view all messages 
        by topic.
        </p>
        <h5 class="topic about">Packages <span class="topic about">(see below)</span></h5>
        <p>
        (If you are not familiar with Meteor, the package names may
        have little meaning to you, but feel free to experiment with the UI.)
        <br>
        <br>
        The package footprint is small in order to demonstrate
        Meteor fundamentals. The source code is on
        <a href="https://www.github.com/sjbrowne">github</a>. 
        </p>
        <h5 class="topic about">Features <span class="topic about">(see below)</span></h5>
        <p>
        For those not familiar with Meteor, provided is a list of patterns and 
        features in general terms. 
        </p>

      {{/if}}

      {{#if currentUser }}
        {{#if modifiable }}
          <div class="tooltip-outer-container">
            {{> addForm }}
          </div>
        {{/if}}
      {{/if}}

      </div>
      </div>
{{else}}
      <div class="row mycard {{withUser}}">
      <div class="col l12 m12 s12 z-depth-0">
      <h1 class="card-title">{{title}}</h1>
      {{#each topics heading_id }}
        <h5 class="topic">{{topic}}</h5>
        <p  class="content">{{text}}</p>
      {{/each}}
      </div>
      </div>
      {{#if visitor}}
        {{> thumbs}}
      {{/if}}
{{/if}}
</template>



<template name="addForm">
<div class="outer">
    <a class="btn-floating waves-effect waves-light add-btn"><i class="mdi-content-add"></i></a>
    <div class="tooltip">
      {{> addToAboutForm}}
    </div>   
 </div>
</template>



<template name="addToAboutForm">
    <form class="col s8 l8 m8 about add-form">
    <div class="input-field col s8">
      <input placeholder="Add {{title}}" class="about" type="text">
    </div>
    <div class="col l3 m4 s4">
        <div class="waves-effect waves-red add add-button ">
          <div class="center-align">Add</div>
        </div>
    </div>
    </form>
</template>




<template name="aboutChip">
  {{#if currentUser}}
    {{#unless permanent}}
      <div class="chip with-user">
        {{text}}
        <i class="mdi-navigation-close"></i>
      </div>
    {{else}}
      <div class="chip">
        {{text}}
      </div>
    {{/unless}}
  {{else}}
    <div class="chip">
      {{text}}
    </div>
  {{/if}}
</template>


<template name="thumbs">
  <div class="row thumbs">
    {{> thumbsUp}}
    {{> msgIcon}}
    {{> messageForm heading_id=heading_id heading=title}}
  </div>
</template>



<template name="thumbsUp">
  <div class="col l6 m6 s6 center-align" id="t-up">
    <a href="" class="">
      <!--<i class="fa fa-thumbs-up fa-lg"></i>-->
      <i class="mdi-action-thumb-up"></i>
    </a>
    <span class="upvotes">{{upvotes}}</span>
  </div>
</template>



<template name="msgIcon">
  <a href="#modal{{heading_id}}" 
     class="col l6 m6 s6 modal-trigger center-align msg-icon" 
     id="{{heading_id}}-{{sindex}}">
  <i class="mdi-content-mail"></i>
  </a>
</template>




<template name="messageForm">
  <div class="row">
  <div 
    id="modal{{heading_id}}" 
    class="col l6 offset-l3 m8 offset-m2 modal bottom-sheet">
  <div class="modal-content">
    <form class="col s12">
    <div class="row">
    <div class="input-field col s12">
        <textarea id="textarea1" class="materialize-textarea"></textarea>
        <label for="textarea1">Subject: {{heading}} </label>
    </div>
    </div>
    </form>
  </div>
  <div class="modal-footer">
    <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
      Send <i class="mdi-content-send"></i>
    </a>
  </div>
  </div>
  </div>
</template>




<template name="placeholder">
  <div class="row mycard {{withUser}}">
  <div class="col l12 m12 s12 z-depth-0">
  <div class="placeholder">
    <p>loading...</p>
  </div>
  </div>
  </div>
</template>





<!-- currently not in use --> 
<template name="thumbsDown">
<div class="col l6 m6 s6" id="t-dwn">
  <a href="">
    <i class="fa fa-thumbs-o-down fa-lg"></i>
  </a>
  {{downvotes}}
</div>
</template>

<template name="comment">
<a href="#" class="col l2 m2 s2" id="cmnt">
  <i class="fa fa-comment fa-lg"></i>
</a>
</template>
