
<template name="sections">
    <main>
    {{#each sections}}
      <div class="container" id="main">
      <div class="row">
      {{#if Template.subscriptionsReady}}
        {{> subsection subsections=subsections section_id=_id}}
      {{else}}
        {{> placeholder }}
      {{/if}}
      </div>
      </div>
    {{/each}}
    </main>
</template>



<template name="subsection">
  {{#each subsections }}
    {{> cardContent 
        title=heading 
        heading_id=heading_id 
        upvotes=upvotes 
        downvotes=downvotes
        sindex=sindex
        modifiable=modifiable
        }}
        
  {{/each}}
</template>



<template name="cardContent">
{{#if isAbout }}
      <div class="row mycard">
      <div class="col l12 m12 s12 z-depth-0">
      <h1 class="card-title">{{title}}</h1>
      {{#if modifiable }}

        {{#each topics heading_id }}
          <div class="chip">
            {{text}}
            <span><i class="mdi-navigation-close"></i></span>
          </div>
        {{/each}}

      {{else}}

        {{#each topics heading_id }}
          <p>
            {{text}}
          </p>
        {{/each}}

      {{/if}}

      {{#if currentUser }}
        {{#if modifiable }}
          {{> addToAboutForm }}
        {{/if}}
      {{/if}}

      </div>
      </div>
{{else}}
      <div class="row mycard {{withUser}}">
      <div class="col l12 m12 s12 z-depth-0">
      <h1 class="card-title">{{title}}</h1>
      {{#each topics heading_id }}
        <h5 class="topic">{{topic}}</h5>
        <p  class="content">{{text}}</p>
      {{/each}}
      </div>
      </div>
        {{#if visitor}}
          {{> thumbs}}
        {{/if}}
{{/if}}
</template>



<template name="thumbs">
    <div class="row thumbs">
      {{> thumbsUp}}
      {{> msgIcon}}
      {{> messageForm heading_id=heading_id heading=title}}
    </div>
</template>



<template name="thumbsUp">
    <div class="col l6 m6 s6 center-align" id="t-up">
      <a href="" class="">
        <i class="fa fa-thumbs-up fa-lg"></i>
      </a>
      {{upvotes}}
    </div>
</template>



<template name="msgIcon">
    <a href="#modal{{heading_id}}" 
       class="col l6 m6 s6 modal-trigger center-align msg-icon" 
       id="{{heading_id}}-{{sindex}}">
    <i class="fa fa-envelope fa-lg"></i>
    </a>
</template>




<template name="messageForm">
<div class="row">
<div 
  id="modal{{heading_id}}" 
  class="col l6 offset-l3 m8 offset-m2 modal bottom-sheet">
<div class="modal-content">
  <form class="col s12">
  <div class="row">
  <div class="input-field col s12">
      <textarea id="textarea1" class="materialize-textarea"></textarea>
      <label for="textarea1">Subject: {{heading}} </label>
  </div>
  </div>
  </form>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
    Send <i class="fa fa-paper-plane"></i>
  </a>
</div>
</div>
</div>
</template>

<template name="placeholder">
<div class="row mycard {{withUser}}">
<div class="col l12 m12 s12 z-depth-0">
<div class="placeholder">
  <p>loading...</p>
</div>
</div>
</div>
</template>


<!-- currently not in use --> 
<template name="thumbsDown">
<div class="col l6 m6 s6" id="t-dwn">
  <a href="">
    <i class="fa fa-thumbs-o-down fa-lg"></i>
  </a>
  {{downvotes}}
</div>
</template>

<template name="comment">
<a href="#" class="col l2 m2 s2" id="cmnt">
  <i class="fa fa-comment fa-lg"></i>
</a>
</template>

<template name="addToAboutForm">
        <div class="row">
        <form class="col s12 about">
          <div class="row">
            <div class="input-field col s6">
              <input placeholder="Add {{title}}" class="about" type="text">
            </div>
              <div class="col s6">
                  <div class="waves-effect waves-light add add-button ">
                    <div>Add</div>
                  </div>
              </div>
          </div>
        </form>
        </div>
</template>
