<template name="cardContent">
<div class="col s12 m12 l6">
<div class="card white small">
  <div class="card-content">
    <span class="card-title">{{heading}}</span>
    <h5>Topics</h5><p>python, pymongo, bash</p>
    <h5>Tools</h5><p>{{text_region}}</p>
  </div>
  {{#if visitor}}
    {{> thumbs}}
  {{/if}}
</div>
</div>
</template>

<template name="thumbs">
<div class="card-action white thumbs">
    <div class="row thumbs">
      {{> thumbsUp}}


<a href="#modal-{{heading}}-{{sindex}}" class="col l2 m2 s2 modal-trigger {{subject}}-{{sindex}}" id="env">
  <i class="fa fa-envelope-o fa-lg"></i>
</a>

      {{> messageForm title=heading votes=upvotes}}
    </div>
  </div>
</template>

<template name="messageForm">
<div class="row">
<div id="modal-{{heading}}-{{sindex}}" class="col l6 offset-l3 m8 offset-m2 modal bottom-sheet">
<div class="modal-content">
  <section class="title" id="message-modal">
    <h5>Subject: {{title}} | {{votes}}</h5>
  </section>
  <section 
     class="content"  
     id="message-modal" 
     contenteditable="true">
    Edit me.
  </section>
</div>
<div class="modal-footer">
  <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">
    Send<i class="fa fa-paper-plane"></i>
  </a>
</div>
</div>
</div>
</template>

<template name="thumbsDown">
<div class="col l3 m2 s3" id="t-dwn">
  <a href="">
    <i class="fa fa-thumbs-o-down fa-lg"></i>
  </a>
  {{downvotes}}
</div>
</template>

<template name="thumbsUp">
<div class="col l3 m2 s3 offset-l3 offset-m4 offset-s3" id="t-up">
  <a href="">
    <i class="fa fa-thumbs-o-up fa-lg"></i>
  </a>
  {{upvotes}}
</div>
</template>

<template name="comment">
<a href="#" class="col l2  m2 s2" id="cmnt">
  <i class="fa fa-comment fa-lg"></i>
</a>
</template>

<template name="msgIcon">
<a href="#modal1" class="col l2 m2 s2 modal-trigger {{subject}}-{{sindex}}" id="env">
  <i class="fa fa-envelope-o fa-lg"></i>
</a>
</template>
