<template name="footer">
  <footer class="page-footer">
  <div class="container">
  <div class="row">
    {{> footerSample}}
  </div>
  </div>
  <div class="footer-copyright">
  <div class="col l12 m12 s12 center-align">
    <h2 class="center-align">S.J. Browne</h2>
    <h5 class="center-align">stei.ma.bro@gmail.com</h5>
  </div>
  </div>
  <div class="footer-copyright very-bottom center-align">
  <h6>Built  with 
  <a href="https://www.meteor.com">
  <img src="/meteor-logo-midnight.png" 
       id="meicon"
       height="30" 
       width="30"
       align="middle">
  </a>

  <a href="http://materializecss.com">
  <img id="mticon" 
       src="/g4346.png"
       align="middle">
  </a>
  <a href="https://www.mongodb.org">
  <img id="mgicon" 
       src="/mongo-logo-cropped.png"
       height="35" 
       width="35"
       align="middle">
  </a>
  </h6>
  </div>
  </footer>
</template>



<template name="footerSample">
  <div class="col l12 m12 s12 spacer">
  </div>
  <div class="col l12 m12 s12 center-align">
    {{> hsclIcons}}
  </div>
  <div class="col l12 m12 s12 spacer">
  </div>
</template>



<template name="hsclIcons">
  <svg class="filter" height="0" width="0">
    <defs>
    <filter 
       id="a"
       style="color-interpolation-filters:sRGB">
     <feFlood 
       result="flood"
       flood-color="rgb(94,115,129)"/>
     <feComposite 
       operator="out"
       result="composite1"
       in2="SourceGraphic"
       in="flood"/>
     <feGaussianBlur 
       stdDeviation="0.3"
       result="blur"
       in="composite1"/>
     <feOffset
       result="offset"
       dx="0.5"
       dy="0.5"/>
     <feComposite 
       operator="atop"
       result="composite2"
       in2="SourceGraphic"
       in="offset"/>
    </filter>
    </defs>
  </svg>

  <div id="hsclicons">
    <div class="row">
    <div class="col l12 m12 s12">
    <a href="https://github.com/sjbrowne">
    <div id="octo" class="bl-icon-vert">
     {{> octocatIcon}}
    </div> 
    </a>
    </div>
    </div>

    <div class="row">
    <div class="col l12 m12 s12">
    <a href="http://bl.ocks.org/rawGem">
    <div class="bl-icon-vert">
     {{> blIconThick100}}
    </div> 
    </a>
    </div>
    </div>
    
    <div class="row">
    <div class="col l12 m12 s12">
    <a href="https://www.codeeval.com/public/bbed890eed758c3d9d863ca8bbd60f976a27bc1e/">
    <div id="ceIcon" class="bl-icon-vert">
     {{> ceIconThick}}
    </div> 
    </a>
    </div>
    </div>
  </div>
</template>




