<template name="footer">
<footer class="page-footer">
<div class="container">
<div class="row">
  {{> footerSample}}
</div>
</div>
<div class="footer-copyright">
<div class="col l12 m12 s12 center-align">
  {{> hsclIcons}}
</div>
</div>
<div class="footer-copyright very-bottom center-align">
  <img src="/meteor-logo.png" height="25" width="25">
  <img src="/mticon.png">
</div>
</footer>
</template>


<template name="footerSample">
<div class="col l12 m12 s12">
  <h2></h2>
</div>
<div class="col l12 m12 s12">
  <h1 class="center-align">S.J. Browne</h1>
</div>
<div class="col l12 m12 s12">
  <h2></h2>
</div>
<div class="col l12 m12 s12">
  <h2></h2>
</div>
<div class="col l12 m12 s12">
  <h2></h2>
</div>
</template>


<template name="hsclIcons">
<div id="hsclicons">
  <a href="https://www.github.com/sjbrowne">
    <i class="fa fa-github tooltipped" data-position="top" data-delay="10" data-tooltip="github"></i>
  </a>

  <div class="bl-icon-hoz">
   <svg class="tooltipped" data-position="top" data-delay="10" data-tooltip="bl.ocks"
      xmlns="http://www.w3.org/2000/svg" width="55" height="55" viewBox="0, 0, 600, 600">
      <a xlink:href="http://bl.ocks.org/rawGem">
       <g stroke="#000" stroke-width="41" fill="none">
       <path id="block" d="M47.065 351.794h208.57v208.568H47.064V351.794zM345.366 351.794h208.57v208.568h-208.57V351.794zM192.898 68.638h208.57v208.568h-208.57V68.638z"/>
       </g>
      </a>
   </svg> 
  </div> 

  <div class="bl-icon-hoz">
   {{> ceIcon}}
<!--a class="btn tooltipped" data-position="bottom" data-delay="50" data-tooltip="I am tooltip">Hover me!</a>-->
  </div> 

</div>
</template>

<template name="ceIconFlat">
  <svg  class="tooltipped" data-position="top" data-delay="10" data-tooltip="CodeEval"
        width="55" height="55" xmlns="http://www.w3.org/2000/svg">
      <a xlink:href="https://www.codeeval.com">
      <g fill="none" stroke="#000">
      <path id="ce" d="M27.114 1037.385A12.114 11.792 0 0 1 15 1049.175a12.114 11.792 0 0 1-12.114-11.79A12.114 11.792 0 0 1 15 1025.593a12.114 11.792 0 0 1 12.114 11.792z" stroke-width="5.063" transform="matrix(1.6615 0 0 1.84815 1.11 -1890.112)"/>
      <path id="ce" d="M25.166 1034.45h-8.038v-4.643l-5.202 7.238 5.188 7.918.12-4.7 8.168.112 1.764-1.524" stroke-width="1.904" transform="matrix(1.6615 0 0 1.84815 1.11 -1890.112)"/>
      </g>
      </a>
  </svg>
</template>


<template name="ceIcon">
<svg xmlns="http://www.w3.org/2000/svg" height="60.309" width="60.309" viewBox="0 0 60.309373 60.309372">
  <defs>
    <filter id="a" color-interpolation-filters="sRGB">
      <feFlood result="flood" flood-color="#000004"/>
      <feComposite operator="out" result="composite1" in2="SourceGraphic" in="flood"/>
      <feGaussianBlur stdDeviation="1.9" result="blur" in="composite1"/>
      <feOffset result="offset" dx="2.8" dy="1.8"/>
      <feComposite operator="atop" result="composite2" in2="SourceGraphic" in="offset"/>
    </filter>
  </defs>
  <g color="#000" white-space="normal">
    <path style="text-decoration-color:#000000;text-decoration-line:none;mix-blend-mode:normal;block-progression:tb;text-indent:0;text-decoration-style:solid;isolation:auto;text-transform:none" d="M30.46 5.22C16.612 5.22 5.33 16.5 5.33 30.35c0 13.847 11.282 25.128 25.13 25.128s25.13-11.28 25.13-25.13S44.307 5.22 30.46 5.22zm0 5.1c9.43 0 17.28 6.47 19.428 15.223H30.46v-9.34L16.3 30.363l14.16 14.16v-8.625h19.238c-2.4 8.374-10.075 14.48-19.238 14.48-11.092 0-20.03-8.938-20.03-20.03 0-11.09 8.938-20.028 20.03-20.028z" solid-color="#000000" fill="#fff"/>
    <path style="text-decoration-color:#000000;text-decoration-line:none;mix-blend-mode:normal;block-progression:tb;text-indent:0;text-decoration-style:solid;isolation:auto;text-transform:none" d="M517.86 278.3c-13.848 0-25.13 11.28-25.13 25.13 0 13.847 11.282 25.128 25.13 25.128s25.13-11.28 25.13-25.13-11.282-25.128-25.13-25.128zm0 5.1c9.43 0 17.28 6.47 19.428 15.223H517.86v-9.34l-14.16 14.16 14.16 14.16v-8.625h19.238c-2.398 8.374-10.075 14.48-19.238 14.48-11.092 0-20.03-8.938-20.03-20.03 0-11.09 8.938-20.028 20.03-20.028z" solid-color="#000000" fill="#bccad8" filter="url(#a)" transform="translate(-487.7 -273.28)"/>
  </g>
</svg>
</template>
