<template name="footer">
<footer class="page-footer">
<div class="container">
<div class="row">
  {{> footerSample}}
</div>
</div>
<div class="footer-copyright">
<div class="col l12 m12 s12 center-align">
  {{> hsclIcons}}
</div>
</div>
<div class="footer-copyright very-bottom center-align">
  <img src="/meteor-logo.png" height="25" width="25">
  <img src="/mticon.png">
</div>
</footer>
</template>


<template name="footerSample">
<div class="col l12 m12 s12">
  <h2></h2>
</div>
<div class="col l12 m12 s12">
  <h1 class="center-align">S.J. Browne</h1>
</div>
<div class="col l12 m12 s12">
  <h2></h2>
</div>
<div class="col l12 m12 s12">
  <h2></h2>
</div>
<div class="col l12 m12 s12">
  <h2></h2>
</div>
</template>


<template name="hsclIcons">
<div id="hsclicons">
  <a href="https://www.github.com/sjbrowne">
    <i class="fa fa-github tooltipped" data-position="top" data-delay="10" data-tooltip="github"></i>
  </a>
  <div class="bl-icon-hoz">
   {{> blIconFlat}}
  </div> 
  <div class="bl-icon-hoz">
   {{> ceIconFlat}}
  </div> 
</div>
</template>




