<head>
  <meta charset="utf-8">
  <title>Upvote Downvote</title>
  <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
</head>
<body>
 <div id="grid">
 </div>
</body>

<template name="sections">
  {{#if Template.subscriptionsReady}}
    {{#each sections}}
      <div class="container" id="main">
      <div class="row">
        {{> subsection subsections=subsections section_id=_id}}
      </div>
      </div>
    {{/each}}
  {{else}}
    <div class="container" id="main">
    <div class="row">
    <div class="col l12 m12 s12 center-align" id="loading">
     Loading...
   </div>
   </div>
   </div>
  {{/if}}
</template>

<template name="subsection">
  {{#each subsections }}
   <p>{{section_id}}</p>
    {{> cardContent 
        title=heading 
        heading_id=heading_id 
        upvotes=upvotes 
        downvotes=downvotes
        }}
        
  {{/each}}
</template>
