<head>
  <meta charset="utf-8">
  <title>Upvote Downvote</title>
  <link href='https://fonts.googleapis.com/css?family=Gravitas+One' rel='stylesheet' type='text/css'>
</head>
<body>
 <div id="grid">
 </div>
</body>

<template name="sections">
  {{#if Template.subscriptionsReady}}
    {{#each sections}}
      <div class="container" id="main">
      <div class="row">
      {{#each  subsections   }}
        {{> cardContent }}
      {{/each}}
      </div>
      </div>
    {{/each}}
  {{else}}
    <div class="container" id="main">
    <div class="row">
    <div class="col l12 m12 s12 center-align" id="loading">
     Loading...
   </div>
   </div>
   </div>
    <!--<div class="preloader-wrapper big active" id="main">
    <div class="spinner-layer spinner-blue-only">
      <div class="circle-clipper center">
        <div class="circle"></div>
      </div><div class="gap-patch">
        <div class="circle"></div>
      </div><div class="circle-clipper right">
        <div class="circle"></div>
      </div>
    </div>
  </div>-->
  {{/if}}
</template>

