<template name="side">
  <div class="navbar-fixed">
  <nav class="bottom">
      {{> atNavButton}} 
      {{#if admin}}
          {{> adminTopNavLink}}
      {{/if}}

    <ul class="hide-on-med-and-down links">
      <div class="row">
      {{> aboutTopNavLink}}
      {{> educationTopNavLink}}
      {{> courseworkTopNavLink}}
      {{> overviewTopNavLink}}
      </div>
    </ul>
    <ul id="slide-out" class="side-nav">
      {{> aboutSideNavLink}}
      {{> educationSideNavLink}}
      {{> courseworkSideNavLink}}
      {{> overviewSideNavLink}}
    </ul>
    <a href="#" data-activates="slide-out" class="button-collapse">
    <i class="mdi-navigation-menu"></i>-->
    </a>
  </nav>
  </div>
</template>



<template name="adminTopNavLink">
  <a class="admin-top-link" href="">
    Admin
  </a>
</template>



<template name="educationTopNavLink">
  <li class="top-nav col l2 {{active}}" id="edu-top">
    <a class="center-align" href="#!" style="color: black;">
      <i class="mdi-av-my-library-books top"></i>
    </a>
  </li>
</template>






<template name="courseworkTopNavLink">
  <li class="top-nav col l2 {{active}}" id="crswrk-top" >
      <a class="center-align" href="#!">
      <i class="mdi-social-school top"></i>
      </a>
  </li>
</template>





<template name="overviewTopNavLink">
  <li class="top-nav col l2 {{active}}" id="ov-top">
    <a class="center-align" href="#!">
      Summary
    </a>
  </li>
</template>




<template name="aboutTopNavLink">
  <li class="top-nav col l2 offset-l2 {{active}}" id="ab-top">
    <a class="center-align" href="#!">
      <i class="mdi-action-info top"></i>
    </a>
  </li>
</template>





<template name="educationSideNavLink">
  <li class="nav-side" id="edu-side">
    <a href="#!">
      <i class="mdi-av-my-library-books"></i>
      <span>Education</span>
    </a>
  </li>
</template>



<template name="courseworkSideNavLink">
  <li class="nav-side" id="crswrk-side">
    <a href="#!">
      <i class="mdi-social-school"></i>
      <span>Coursework</span>
    </a>
  </li>
</template>



<template name="overviewSideNavLink">
  <li class= "nav-side" id="ov-side">
    <a href="#!">
      <i class="mdi-action-assignment"></i>
      <span>Overview</span>
    </a>
  </li>
</template>



<template name="aboutSideNavLink">
  <li class= "nav-side" id="ab-side">
    <a href="#!">
      <i class="mdi-action-info"></i>
      <span>Info</span>
    </a>
  </li>
</template>



<template name="banner">
  <div class="navbar-fixed top">
  <nav class="top">
    {{> atNavButton}}
  </nav>
  </div>
</template>

