<template name="overview">
<div class="container" id="education">
<h3 id="education">Education</h3>
<p id="education">Georgia Tech, Magna Cum
   <br>
   <span>Biomedical Engineering</span>
   <br>
   <span>Organic Chemistry</span>
</p>
</div>

<div class="container" id="tools">
<h3 id="tools">Tools</h3>
<p id="tools">git, github
<br>python, ruby, javascript
<br>sklearn, pymongo, requests
<br>rails, node, meteor
<br>bootstrap, foundation, materialize
<br>famo.us, three.js, d3.js
<br>mongodb, postgresql, SQLite, MySQL
<br>unix, vim
</p>
</div>

<div class="container" id="skills">
<h3 id="skills">Skills</h3>
<p id="skills">data analysis, machine learning, datavis
<br>web development   
<br>(basic) devops, shell  
<br>(basic) UI/UX, design, animation
</p>
</div>

<div class="container" id="experience">
<h3 id="experience">Experience</h3>
<p id="experience">
researcher
<br>technical writer
<br>engineer
<br>teacher
<br>coach
</p>
</div>
</template>
