<template name="side">
  <div class="navbar-fixed">
    <nav> 

      <ul class="hide-on-med-and-down links">
      <div class="row">
        <li class="col l2 offset-l4 nav-link" id="edu-top">
          <a href="#!">
            <span>
              <i class="fa fa-graduation-cap"></i>
            </span>
            Education
          </a>
        </li>
        <li id="crswrk-top">
          <a href="#!">
            <span>
              <i class="fa fa-book"></i>
            </span>
            Coursework
          </a>
        </li>
        <!--<li class="col l1 offset-l4 nav-link"><a href="sass.html">Sass</a></li>
        <li class="red"><a href="badges.html">Components</a></li>
        <li><a href="collapsible.html">Javascript</a></li>
        <li><a href="mobile.html">Mobile</a></li>-->
        </div>
      </ul>

      <ul id="slide-out" class="side-nav">
        <li id="edu-side">
          <a href="#!">
            <span>
              <i class="fa fa-graduation-cap"></i>
            </span>
            Education
          </a>
        </li>
        <li id="crswrk-side">
          <a href="#!">
            <span>
              <i class="fa fa-book"></i>
            </span>
            Coursework
          </a>
        </li>
      </ul>
      <!--<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>-->
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
    </nav>
  </div>


  <!--<nav class="banner red lighten-5">
    <div class="nav-wrapper">
      <div class="brand-logo banner-name center"> S.J. Browne</div>
    </div>
  </nav>-->
</template>
