<template name="side">
  <div class="navbar-fixed top">
    <nav class="top">
      <div id="sclicons">
        <i class="fa fa-github"></i>
        <i class="fa fa-github"></i>
        <div class="bl-icon">
        <svg xmlns="http://www.w3.org/2000/svg" width="27.437" height="28.109" viewBox="0, 0, 274.366, 281.092"><g stroke="#000" fill="#516272"><path d="M237.005 244.592l.495-110.5h-50.748L186.5 37.5H85.92l.48 96.35-48.9.06v100.976h200.367" stroke-width="19"/><path d="M136 136.956l1 98.264M136 137.077h50M86 137.077l50 .06" stroke-width="2" fill="#516272"/></g></svg>
        </div> 
      </div>
    </nav>
  </div>

  <div class="navbar-fixed">
    <nav class="bottom">

      <ul class="hide-on-med-and-down links">
        <div class="row">
          {{> educationTopNavLink}}
          {{> courseworkTopNavLink}}
        </div>
      </ul>
      <ul id="slide-out" class="side-nav">
        {{> educationSideNavLink}}
        {{> courseworkSideNavLink}}
      </ul>
      <!--<a href="#" data-activates="slide-out" class="button-collapse show-on-large"><i class="fa fa-bars"></i></a>-->
      <a href="#" data-activates="slide-out" class="button-collapse"><i class="fa fa-bars"></i></a>
    </nav>
  </div>


  <!--<nav class="banner red lighten-5">
    <div class="nav-wrapper">
      <div class="brand-logo banner-name center"> S.J. Browne</div>
    </div>
  </nav>-->
</template>

<template name="educationTopNavLink">
        <li class="col l2 offset-l4 {{active}}" id="edu-top">
        <div class="top-link-container">
          <a class="center-align" href="#!">
            <!--<span>
              <i class="fa fa-graduation-cap"></i>
            </span>-->
            Education
          </a>
        </div>
        </li>
</template>

<template name="courseworkTopNavLink">
        <li id="crswrk-top" class="col l2 {{active}}">
          <div class="top-link-container">
            <a class="center-align" href="#!">
              <!--<span>
                <i class="fa fa-book"></i>
              </span>-->
              Coursework
            </a>
          </div>
        </li>
</template>

<template name="educationSideNavLink">
        <li id="edu-side">
          <a href="#!">
            <span>
              <i class="fa fa-graduation-cap"></i>
            </span>
            Education
          </a>
        </li>
</template>

<template name="courseworkSideNavLink">
        <li id="crswrk-side">
          <a href="#!">
            <span>
              <i class="fa fa-book"></i>
            </span>
            Coursework
          </a>
        </li>
</template>
